In [68]:
from scipy.io import arff
import pandas as pd
import regex as re

list_dfs=['1year.arff','2year.arff','3year.arff','4year.arff','5year.arff']
x=0

for file in list_dfs:
    data = arff.loadarff(file)
    df = pd.DataFrame(data[0])
    
    print(re.split(r'\.',file)[0])
    print('shape',df.shape)
    x=x+(df.shape[0])
    
    print("Info:")
    print(df.info())
    
    print('NAs:')
    print(df.isna().sum().sort_values().tail())
    
    print("")
    print("----o----")
    print("")

print(x)

1year
shape (7027, 65)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   7024 non-null   float64
 1   Attr2   7024 non-null   float64
 2   Attr3   7024 non-null   float64
 3   Attr4   6997 non-null   float64
 4   Attr5   7019 non-null   float64
 5   Attr6   7024 non-null   float64
 6   Attr7   7024 non-null   float64
 7   Attr8   7002 non-null   float64
 8   Attr9   7026 non-null   float64
 9   Attr10  7024 non-null   float64
 10  Attr11  6988 non-null   float64
 11  Attr12  6997 non-null   float64
 12  Attr13  7027 non-null   float64
 13  Attr14  7024 non-null   float64
 14  Attr15  7025 non-null   float64
 15  Attr16  7002 non-null   float64
 16  Attr17  7002 non-null   float64
 17  Attr18  7024 non-null   float64
 18  Attr19  7027 non-null   float64
 19  Attr20  7027 non-null   float64
 20  Attr21  5405 non-null   float64
 21  Attr22  7024 non-null   float64
 22  Attr23  7027 non-null   float64
 23  Attr24  6903 non-null   float64
 24  Attr25  7024 non-null   float64
 25  Attr26  7002 non-null   float64
 26  Attr27  6716 non-null   float64
 27  Attr28  6993 non-null   float64
 28  Attr29  7024 non-null   float64
 29  Attr30  7027 non-null   float64
 30  Attr31  7027 non-null   float64
 31  Attr32  6989 non-null   float64
 32  Attr33  6997 non-null   float64
 33  Attr34  7002 non-null   float64
 34  Attr35  7024 non-null   float64
 35  Attr36  7024 non-null   float64
 36  Attr37  4287 non-null   float64
 37  Attr38  7024 non-null   float64
 38  Attr39  7027 non-null   float64
 39  Attr40  6997 non-null   float64
 40  Attr41  6943 non-null   float64
 41  Attr42  7027 non-null   float64
 42  Attr43  7027 non-null   float64
 43  Attr44  7027 non-null   float64
 44  Attr45  6893 non-null   float64
 45  Attr46  6996 non-null   float64
 46  Attr47  6998 non-null   float64
 47  Attr48  7024 non-null   float64
 48  Attr49  7027 non-null   float64
 49  Attr50  7002 non-null   float64
 50  Attr51  7024 non-null   float64
 51  Attr52  6998 non-null   float64
 52  Attr53  6993 non-null   float64
 53  Attr54  6993 non-null   float64
 54  Attr55  7027 non-null   float64
 55  Attr56  7027 non-null   float64
 56  Attr57  7026 non-null   float64
 57  Attr58  7027 non-null   float64
 58  Attr59  7026 non-null   float64
 59  Attr60  6892 non-null   float64
 60  Attr61  7005 non-null   float64
 61  Attr62  7027 non-null   float64
 62  Attr63  6997 non-null   float64
 63  Attr64  6993 non-null   float64
 64  class   7027 non-null   object
dtypes: float64(64), object(1)
memory usage: 3.5+ MB
None
NAs:
Attr45     134
Attr60     135
Attr27     311
Attr21    1622
Attr37    2740
dtype: int64

----o----

2year
shape (10173, 65)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10173 entries, 0 to 10172
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   10172 non-null  float64
 1   Attr2   10172 non-null  float64
 2   Attr3   10172 non-null  float64
 3   Attr4   10151 non-null  float64
 4   Attr5   10149 non-null  float64
 5   Attr6   10172 non-null  float64
 6   Attr7   10172 non-null  float64
 7   Attr8   10155 non-null  float64
 8   Attr9   10169 non-null  float64
 9   Attr10  10172 non-null  float64
 10  Attr11  10172 non-null  float64
 11  Attr12  10151 non-null  float64
 12  Attr13  10110 non-null  float64
 13  Attr14  10172 non-null  float64
 14  Attr15  10161 non-null  float64
 15  Attr16  10154 non-null  float64
 16  Attr17  10155 non-null  float64
 17  Attr18  10172 non-null  float64
 18  Attr19  10109 non-null  float64
 19  Attr20  10110 non-null  float64
 20  Attr21  7009 non-null   float64
 21  Attr22  10172 non-null  float64
 22  Attr23  10110 non-null  float64
 23  Attr24  9948 non-null   float64
 24  Attr25  10172 non-null  float64
 25  Attr26  10154 non-null  float64
 26  Attr27  9467 non-null   float64
 27  Attr28  9961 non-null   float64
 28  Attr29  10172 non-null  float64
 29  Attr30  10110 non-null  float64
 30  Attr31  10110 non-null  float64
 31  Attr32  10086 non-null  float64
 32  Attr33  10151 non-null  float64
 33  Attr34  10155 non-null  float64
 34  Attr35  10172 non-null  float64
 35  Attr36  10172 non-null  float64
 36  Attr37  5655 non-null   float64
 37  Attr38  10172 non-null  float64
 38  Attr39  10110 non-null  float64
 39  Attr40  10151 non-null  float64
 40  Attr41  9976 non-null   float64
 41  Attr42  10110 non-null  float64
 42  Attr43  10110 non-null  float64
 43  Attr44  10110 non-null  float64
 44  Attr45  9632 non-null   float64
 45  Attr46  10151 non-null  float64
 46  Attr47  10099 non-null  float64
 47  Attr48  10171 non-null  float64
 48  Attr49  10110 non-null  float64
 49  Attr50  10155 non-null  float64
 50  Attr51  10172 non-null  float64
 51  Attr52  10099 non-null  float64
 52  Attr53  9961 non-null   float64
 53  Attr54  9961 non-null   float64
 54  Attr55  10172 non-null  float64
 55  Attr56  10110 non-null  float64
 56  Attr57  10171 non-null  float64
 57  Attr58  10134 non-null  float64
 58  Attr59  10171 non-null  float64
 59  Attr60  9630 non-null   float64
 60  Attr61  10157 non-null  float64
 61  Attr62  10110 non-null  float64
 62  Attr63  10151 non-null  float64
 63  Attr64  9961 non-null   float64
 64  class   10173 non-null  object
dtypes: float64(64), object(1)
memory usage: 5.0+ MB
None
NAs:
Attr45     541
Attr60     543
Attr27     706
Attr21    3164
Attr37    4518
dtype: int64

----o----

3year
shape (10503, 65)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10503 entries, 0 to 10502
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   10503 non-null  float64
 1   Attr2   10503 non-null  float64
 2   Attr3   10503 non-null  float64
 3   Attr4   10485 non-null  float64
 4   Attr5   10478 non-null  float64
 5   Attr6   10503 non-null  float64
 6   Attr7   10503 non-null  float64
 7   Attr8   10489 non-null  float64
 8   Attr9   10500 non-null  float64
 9   Attr10  10503 non-null  float64
 10  Attr11  10503 non-null  float64
 11  Attr12  10485 non-null  float64
 12  Attr13  10460 non-null  float64
 13  Attr14  10503 non-null  float64
 14  Attr15  10495 non-null  float64
 15  Attr16  10489 non-null  float64
 16  Attr17  10489 non-null  float64
 17  Attr18  10503 non-null  float64
 18  Attr19  10460 non-null  float64
 19  Attr20  10460 non-null  float64
 20  Attr21  9696 non-null   float64
 21  Attr22  10503 non-null  float64
 22  Attr23  10460 non-null  float64
 23  Attr24  10276 non-null  float64
 24  Attr25  10503 non-null  float64
 25  Attr26  10489 non-null  float64
 26  Attr27  9788 non-null   float64
 27  Attr28  10275 non-null  float64
 28  Attr29  10503 non-null  float64
 29  Attr30  10460 non-null  float64
 30  Attr31  10460 non-null  float64
 31  Attr32  10402 non-null  float64
 32  Attr33  10485 non-null  float64
 33  Attr34  10489 non-null  float64
 34  Attr35  10503 non-null  float64
 35  Attr36  10503 non-null  float64
 36  Attr37  5767 non-null   float64
 37  Attr38  10503 non-null  float64
 38  Attr39  10460 non-null  float64
 39  Attr40  10485 non-null  float64
 40  Attr41  10301 non-null  float64
 41  Attr42  10460 non-null  float64
 42  Attr43  10460 non-null  float64
 43  Attr44  10460 non-null  float64
 44  Attr45  9912 non-null   float64
 45  Attr46  10485 non-null  float64
 46  Attr47  10417 non-null  float64
 47  Attr48  10503 non-null  float64
 48  Attr49  10460 non-null  float64
 49  Attr50  10489 non-null  float64
 50  Attr51  10503 non-null  float64
 51  Attr52  10417 non-null  float64
 52  Attr53  10275 non-null  float64
 53  Attr54  10275 non-null  float64
 54  Attr55  10503 non-null  float64
 55  Attr56  10460 non-null  float64
 56  Attr57  10503 non-null  float64
 57  Attr58  10474 non-null  float64
 58  Attr59  10503 non-null  float64
 59  Attr60  9911 non-null   float64
 60  Attr61  10486 non-null  float64
 61  Attr62  10460 non-null  float64
 62  Attr63  10485 non-null  float64
 63  Attr64  10275 non-null  float64
 64  class   10503 non-null  object
dtypes: float64(64), object(1)
memory usage: 5.2+ MB
None
NAs:
Attr45     591
Attr60     592
Attr27     715
Attr21     807
Attr37    4736
dtype: int64

----o----

4year
shape (9792, 65)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9792 entries, 0 to 9791
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   9791 non-null   float64
 1   Attr2   9791 non-null   float64
 2   Attr3   9791 non-null   float64
 3   Attr4   9749 non-null   float64
 4   Attr5   9771 non-null   float64
 5   Attr6   9791 non-null   float64
 6   Attr7   9791 non-null   float64
 7   Attr8   9773 non-null   float64
 8   Attr9   9792 non-null   float64
 9   Attr10  9791 non-null   float64
 10  Attr11  9791 non-null   float64
 11  Attr12  9749 non-null   float64
 12  Attr13  9771 non-null   float64
 13  Attr14  9791 non-null   float64
 14  Attr15  9784 non-null   float64
 15  Attr16  9773 non-null   float64
 16  Attr17  9773 non-null   float64
 17  Attr18  9791 non-null   float64
 18  Attr19  9771 non-null   float64
 19  Attr20  9771 non-null   float64
 20  Attr21  9634 non-null   float64
 21  Attr22  9791 non-null   float64
 22  Attr23  9771 non-null   float64
 23  Attr24  9581 non-null   float64
 24  Attr25  9791 non-null   float64
 25  Attr26  9773 non-null   float64
 26  Attr27  9151 non-null   float64
 27  Attr28  9561 non-null   float64
 28  Attr29  9791 non-null   float64
 29  Attr30  9771 non-null   float64
 30  Attr31  9771 non-null   float64
 31  Attr32  9696 non-null   float64
 32  Attr33  9749 non-null   float64
 33  Attr34  9773 non-null   float64
 34  Attr35  9791 non-null   float64
 35  Attr36  9791 non-null   float64
 36  Attr37  5350 non-null   float64
 37  Attr38  9791 non-null   float64
 38  Attr39  9771 non-null   float64
 39  Attr40  9749 non-null   float64
 40  Attr41  9605 non-null   float64
 41  Attr42  9771 non-null   float64
 42  Attr43  9771 non-null   float64
 43  Attr44  9771 non-null   float64
 44  Attr45  9179 non-null   float64
 45  Attr46  9749 non-null   float64
 46  Attr47  9719 non-null   float64
 47  Attr48  9791 non-null   float64
 48  Attr49  9771 non-null   float64
 49  Attr50  9773 non-null   float64
 50  Attr51  9791 non-null   float64
 51  Attr52  9716 non-null   float64
 52  Attr53  9561 non-null   float64
 53  Attr54  9561 non-null   float64
 54  Attr55  9792 non-null   float64
 55  Attr56  9771 non-null   float64
 56  Attr57  9791 non-null   float64
 57  Attr58  9776 non-null   float64
 58  Attr59  9791 non-null   float64
 59  Attr60  9178 non-null   float64
 60  Attr61  9760 non-null   float64
 61  Attr62  9771 non-null   float64
 62  Attr63  9749 non-null   float64
 63  Attr64  9561 non-null   float64
 64  class   9792 non-null   object
dtypes: float64(64), object(1)
memory usage: 4.9+ MB
None
NAs:
Attr28     231
Attr45     613
Attr60     614
Attr27     641
Attr37    4442
dtype: int64

----o----

5year
shape (5910, 65)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   5907 non-null   float64
 1   Attr2   5907 non-null   float64
 2   Attr3   5907 non-null   float64
 3   Attr4   5889 non-null   float64
 4   Attr5   5899 non-null   float64
 5   Attr6   5907 non-null   float64
 6   Attr7   5907 non-null   float64
 7   Attr8   5892 non-null   float64
 8   Attr9   5909 non-null   float64
 9   Attr10  5907 non-null   float64
 10  Attr11  5907 non-null   float64
 11  Attr12  5889 non-null   float64
 12  Attr13  5910 non-null   float64
 13  Attr14  5907 non-null   float64
 14  Attr15  5904 non-null   float64
 15  Attr16  5892 non-null   float64
 16  Attr17  5892 non-null   float64
 17  Attr18  5907 non-null   float64
 18  Attr19  5910 non-null   float64
 19  Attr20  5910 non-null   float64
 20  Attr21  5807 non-null   float64
 21  Attr22  5907 non-null   float64
 22  Attr23  5910 non-null   float64
 23  Attr24  5775 non-null   float64
 24  Attr25  5907 non-null   float64
 25  Attr26  5892 non-null   float64
 26  Attr27  5519 non-null   float64
 27  Attr28  5803 non-null   float64
 28  Attr29  5907 non-null   float64
 29  Attr30  5910 non-null   float64
 30  Attr31  5910 non-null   float64
 31  Attr32  5864 non-null   float64
 32  Attr33  5889 non-null   float64
 33  Attr34  5892 non-null   float64
 34  Attr35  5907 non-null   float64
 35  Attr36  5907 non-null   float64
 36  Attr37  3362 non-null   float64
 37  Attr38  5907 non-null   float64
 38  Attr39  5910 non-null   float64
 39  Attr40  5889 non-null   float64
 40  Attr41  5826 non-null   float64
 41  Attr42  5910 non-null   float64
 42  Attr43  5910 non-null   float64
 43  Attr44  5910 non-null   float64
 44  Attr45  5642 non-null   float64
 45  Attr46  5889 non-null   float64
 46  Attr47  5875 non-null   float64
 47  Attr48  5907 non-null   float64
 48  Attr49  5910 non-null   float64
 49  Attr50  5892 non-null   float64
 50  Attr51  5907 non-null   float64
 51  Attr52  5874 non-null   float64
 52  Attr53  5803 non-null   float64
 53  Attr54  5803 non-null   float64
 54  Attr55  5910 non-null   float64
 55  Attr56  5910 non-null   float64
 56  Attr57  5907 non-null   float64
 57  Attr58  5910 non-null   float64
 58  Attr59  5907 non-null   float64
 59  Attr60  5642 non-null   float64
 60  Attr61  5895 non-null   float64
 61  Attr62  5910 non-null   float64
 62  Attr63  5889 non-null   float64
 63  Attr64  5803 non-null   float64
 64  class   5910 non-null   object
dtypes: float64(64), object(1)
memory usage: 2.9+ MB
None
NAs:
Attr24     135
Attr45     268
Attr60     268
Attr27     391
Attr37    2548
dtype: int64

----o----

43405

In [51]:
def create_df(file):
    data = arff.loadarff(file)
    result = pd.DataFrame(data[0])    
    return result

In [52]:
data_frames=[create_df(x) for x in list_dfs]

df_1y=data_frames[0]
df_2y=data_frames[1]
df_3y=data_frames[2]
df_4y=data_frames[3]
df_5y=data_frames[4]

In [53]:
def creates_yr_to_b(years, dataframe):
    dataframe["yrs_bankrupt_projection"]=years
    

creates_yr_to_b(5,df_5y)
creates_yr_to_b(4,df_4y)
creates_yr_to_b(3,df_3y)
creates_yr_to_b(2,df_2y)
creates_yr_to_b(1,df_1y)

In [55]:
df_2y.tail()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,yrs_bankrupt_projection
10168,0.029970,0.66806,0.066243,1.11030,-105.55000,0.029970,0.038888,0.482740,1.02920,0.322500,...,0.092931,0.97162,0.209820,3.0914,3.9456,192.220,1.8988,3.4199,b'1',2
10169,0.012843,0.49306,-0.160620,0.61898,-24.80100,0.012843,0.012843,0.905900,1.01450,0.446660,...,0.028752,0.98575,0.160090,48.6660,63.7520,40.071,9.1087,5.1956,b'1',2
10170,0.015092,0.55759,-0.284600,0.48599,-85.57100,0.015092,0.009826,0.694880,1.00600,0.387460,...,0.038950,0.99403,0.010091,15.0530,11.9640,114.250,3.1948,2.4201,b'1',2
10171,-0.002554,0.47076,0.424010,1.90070,0.95483,-0.002554,0.001785,1.114400,0.99293,0.524640,...,-0.004869,1.00710,0.000000,6.4289,5.7025,64.291,5.6773,25.3990,b'1',2
10172,0.002072,0.94315,-0.134740,0.85607,-119.92000,0.015226,0.002072,0.059818,1.77490,0.056417,...,0.036720,0.96220,0.132800,4.1618,4.9734,192.510,1.8960,8.9562,b'1',2

In [56]:
df_full=pd.concat([df_1y,df_2y,df_3y,df_4y,df_5y])

In [66]:
df_full.shape

(43405, 66)

In [6]:
df.info()

#1: 21,37
#2:

#We need to make sure that all instances have all variables.
#We need to convert the class into floats/ integers. 
#What is attribute 36/37? ---> not many instances. Can we drop it?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   5907 non-null   float64
 1   Attr2   5907 non-null   float64
 2   Attr3   5907 non-null   float64
 3   Attr4   5889 non-null   float64
 4   Attr5   5899 non-null   float64
 5   Attr6   5907 non-null   float64
 6   Attr7   5907 non-null   float64
 7   Attr8   5892 non-null   float64
 8   Attr9   5909 non-null   float64
 9   Attr10  5907 non-null   float64
 10  Attr11  5907 non-null   float64
 11  Attr12  5889 non-null   float64
 12  Attr13  5910 non-null   float64
 13  Attr14  5907 non-null   float64
 14  Attr15  5904 non-null   float64
 15  Attr16  5892 non-null   float64
 16  Attr17  5892 non-null   float64
 17  Attr18  5907 non-null   float64
 18  Attr19  5910 non-null   float64
 19  Attr20  5910 non-null   float64
 20  Attr21  5807 non-null   float64
 21  Attr22  5907 non-null   float64
 22  Attr23  5910 non-null   float64
 23  Attr24  5775 non-null   float64
 24  Attr25  5907 non-null   float64
 25  Attr26  5892 non-null   float64
 26  Attr27  5519 non-null   float64
 27  Attr28  5803 non-null   float64
 28  Attr29  5907 non-null   float64
 29  Attr30  5910 non-null   float64
 30  Attr31  5910 non-null   float64
 31  Attr32  5864 non-null   float64
 32  Attr33  5889 non-null   float64
 33  Attr34  5892 non-null   float64
 34  Attr35  5907 non-null   float64
 35  Attr36  5907 non-null   float64
 36  Attr37  3362 non-null   float64
 37  Attr38  5907 non-null   float64
 38  Attr39  5910 non-null   float64
 39  Attr40  5889 non-null   float64
 40  Attr41  5826 non-null   float64
 41  Attr42  5910 non-null   float64
 42  Attr43  5910 non-null   float64
 43  Attr44  5910 non-null   float64
 44  Attr45  5642 non-null   float64
 45  Attr46  5889 non-null   float64
 46  Attr47  5875 non-null   float64
 47  Attr48  5907 non-null   float64
 48  Attr49  5910 non-null   float64
 49  Attr50  5892 non-null   float64
 50  Attr51  5907 non-null   float64
 51  Attr52  5874 non-null   float64
 52  Attr53  5803 non-null   float64
 53  Attr54  5803 non-null   float64
 54  Attr55  5910 non-null   float64
 55  Attr56  5910 non-null   float64
 56  Attr57  5907 non-null   float64
 57  Attr58  5910 non-null   float64
 58  Attr59  5907 non-null   float64
 59  Attr60  5642 non-null   float64
 60  Attr61  5895 non-null   float64
 61  Attr62  5910 non-null   float64
 62  Attr63  5889 non-null   float64
 63  Attr64  5803 non-null   float64
 64  class   5910 non-null   object
dtypes: float64(64), object(1)
memory usage: 2.9+ MB